@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Minecrafter';
    src: url('../fonts/Minecrafter.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft Evenings';
    src: url('../fonts/Minecraft\ Evenings.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #6F6F6F;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    font-style: normal;
    display: block;
    color: #6F6F6F;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
}

nav .active {
    background-color: #31BDC3;
}

nav .active > a {
    color: white;
}

/* Header */
header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 570px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

@keyframes logo {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}

header img {
    max-height: 75%;
    animation: logo 4s ease-in-out infinite;
}

.button-ip {
    width: 20%;
    height: 10%;
    color: white;
    background-color: #31BDC3;
    border: 0;
    border-radius: 10px;
    font-size: 1vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: .5s ease;
}

.button-ip:hover {
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

/* Contenido */
main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: "Minecrafter", sans-serif;
    font-size: 4vw;
    color: #4a4a4a;
}

h3 {
    text-align: center;
    font-family: "Minecrafter", sans-serif;
    font-size: 3vw;
    text-align: center;
    color: #4a4a4a;
}

p {
    font-family: "Minecraft", sans-serif;
    text-align: justify;
    font-size: 1.1vw;
}

hr {
    height: 2px;
    background-color: #6F6F6F;
    border: none;
}

.row {
    display: flex;
    width: 100%;
}

.col2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.col3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

main img {
    max-width: 100%;
    transition: transform .5s ease;
}

main img:hover {
    transform: scale(1.2);
}

/* Estilos */
.minecraft {font-family: "Minecraft", sans-serif}
.negrita {font-weight: bold}
.subrayado {text-decoration: underline}
.cursiva {font-style: italic}

.cuadrado {
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: "Minecraft", sans-serif;
}

/* Colores */
.rojo {background-color: #e74c3c}
.amarillo {background-color: #D8BC47}
.verde {background-color: #7DDA58}
.morado {background-color: #CC6CE7}
.rojo-claro {background-color: #eb786c}
.azul-claro {background-color: #74c0ec}
.azul {background-color: #2377a8}
.naranja {background-color: #fd7c48}

.rojo:hover{background-color: #b63628}
.amarillo:hover {background-color: #968028}
.verde:hover {background-color: #4f9732}
.morado:hover {background-color: #8c37a3}
.rojo-claro:hover {background-color: #a83d31}
.azul-claro:hover {background-color: #3d789b}
.azul:hover {background-color: #0f4869}
.naranja:hover {background-color: #ca501f}

/* Footer */
footer {
    display: block;
    position: relative;
    bottom: 0;
    background-color: #4a4a4a;
    height: 200px;
    width: 100%;
}

footer img {
    max-width: 100%;
    transition: transform .5s ease;
}

footer img:hover {
    transform: scale(1.2);
}

#social {
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
}

#social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px;
    justify-content: center;
    gap: 20px;
}

#social li {
    display: flex;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#social a {
    text-decoration: none;
}

#social i {
    color: white;
    transition: transform .5s ease;
}

#social li:hover i {
    transform: scale(1.2);
}

#social li:hover {
    background-color: rgba(219, 219, 219, 0.3);
}

#copyright {
    display: flex;
    height: 25%;
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 1.2vw;
}

/* Media */
@media only screen and (max-width: 768px) {
    /* Nav */
    nav {position: relative}

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav li {
        float: none;
        width: 100%;
    }

    nav li a {
        padding: 10px;
        text-align: left;
    }
    
    /* Header */
    header img {
        max-width: 90%;
    }
    .button-ip {
        width: 300px;
        height: 60px;
        font-size: 20px;
    }

    /* Contenido */
    main {
        margin: 5px;
        padding: 5px;
    }

    h1 {font-size: 50px}
    h3 {font-size: 30px}
    p {font-size: 18px}
    .row {display: block}
    .col2 {width: 100%}
    .col3 {width: 100%}
    main img:hover {transform: none}

    #copyright {
        font-size: 10px;
    }
}